Se le proporcionan datos de comportamiento de clientes de Santander de un a√±o y medio para predecir qu√© nuevos productos adquirir√°n. Los datos comienzan el 28/01/2015 e incluyen registros mensuales de los productos que posee un cliente, como tarjetas de cr√©dito, cuentas de ahorro, etc. Predecir√° qu√© productos adicionales adquirir√° un cliente durante el √∫ltimo mes, el 28/06/2016, adem√°s de los que ya ten√≠a el 28/05/2016. Estos productos corresponden a las columnas ind_(xyz)_ult1, que corresponden a las columnas 25 a 48 en los datos de entrenamiento. Predecir√° qu√© comprar√° un cliente adem√°s de lo que ya ten√≠a el 28/05/2016.

In [1]:
import pandas as pd
import opendatasets as od
od.download('https://www.kaggle.com/competitions/santander-product-recommendation/data')

Please provide your Kaggle credentials to download this dataset. Learn more: http://bit.ly/kaggle-creds
Your Kaggle username:Your Kaggle Key:Downloading santander-product-recommendation.zip to ./santander-product-recommendation

100%|‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà| 228M/228M [00:00<00:00, 1.02GB/s]

Extracting archive ./santander-product-recommendation/santander-product-recommendation.zip to ./santander-product-recommendation

In [2]:
import zipfile
import os

In [6]:
# Ruta del archivo ZIP descargado
zip_path_two = "/workspaces/proyecto-final/src/santander-product-recommendation/train_ver2.csv.zip"

# Directorio donde se va a extraer
extract_dir_two = "src/"


# Extraer el archivo ZIP
if os.path.exists(zip_path_two):
    with zipfile.ZipFile(zip_path_two, 'r') as zip_ref:
        zip_ref.extractall(extract_dir_two)
        print(f"‚úÖ Archivo extra√≠do en: {extract_dir_two}")
else:
    print(f"No se encontr√≥ el archivo ZIP en: {zip_path_two}")

‚úÖ Archivo extra√≠do en: src/

## Determinar archivo por lotes

In [7]:
def analizar_chunks_csv_plano(ruta_csv, chunksize=100000):
    import pandas as pd
    import os
    import numpy as np

    reader = pd.read_csv(ruta_csv, chunksize=chunksize, low_memory=False)
    primer_chunk = next(reader)

    tamano_ram_MB = primer_chunk.memory_usage(deep=True).sum() / 1024**2
    filas_chunk = len(primer_chunk)

    # Conteo real de filas
    total_filas_estimadas = sum(1 for _ in open(ruta_csv)) - 1  # resta 1 por el header
    total_chunks_estimados = int(np.ceil(total_filas_estimadas / chunksize))
    ram_total_estimada_MB = total_chunks_estimados * tamano_ram_MB

    archivo_MB = os.path.getsize(ruta_csv) / 1024**2

    print(f"üîç Tama√±o del archivo CSV plano: {archivo_MB:.2f} MB")
    print(f"üì¶ Chunk size: {chunksize} filas")
    print(f"üß† RAM usada por 1 chunk: {tamano_ram_MB:.2f} MB")
    print(f"üìä Estimaci√≥n total de filas: {total_filas_estimadas:,}")
    print(f"üìà N√∫mero de chunks estimado: {total_chunks_estimados}")
    print(f"üíæ Estimaci√≥n total de uso de RAM si se cargara todo: {ram_total_estimada_MB:.2f} MB")

    return {
        "chunk_rows": filas_chunk,
        "chunk_ram_MB": tamano_ram_MB,
        "total_rows": total_filas_estimadas,
        "estimated_total_chunks": total_chunks_estimados,
        "estimated_total_ram_MB": ram_total_estimada_MB
    }

In [11]:
ruta = '/workspaces/proyecto-final/src/santander-product-recommendation/train_ver2.csv'
resumen = analizar_chunks_csv_plano(ruta)

üîç Tama√±o del archivo CSV plano: 2186.55 MB
üì¶ Chunk size: 100000 filas
üß† RAM usada por 1 chunk: 110.55 MB
üìä Estimaci√≥n total de filas: 13,647,309
üìà N√∫mero de chunks estimado: 137
üíæ Estimaci√≥n total de uso de RAM si se cargara todo: 15145.52 MB

## Guardar por lotes del archivo .csv a la base de datos

In [12]:
import pandas as pd
import sqlite3

# Ruta del archivo CSV grande
ruta_csv = '/workspaces/proyecto-final/src/santander-product-recommendation/train_ver2.csv'

# Conexi√≥n a la base de datos SQLite
con = sqlite3.connect("Proyecto.db")

# Leer por chunks
chunksize = 100000
i = 0

for chunk in pd.read_csv(ruta_csv, chunksize=chunksize, low_memory=False):
    i += 1
    print(f"üîÑ Guardando chunk {i}...")

    # Guardar cada chunk en una tabla llamada 'santander'
    chunk.to_sql("santander", con, if_exists="append", index=False)

print("‚úÖ Todos los chunks han sido cargados en la base de datos.")

üîÑ Guardando chunk 1...
üîÑ Guardando chunk 2...
üîÑ Guardando chunk 3...
üîÑ Guardando chunk 4...
üîÑ Guardando chunk 5...
üîÑ Guardando chunk 6...
üîÑ Guardando chunk 7...
üîÑ Guardando chunk 8...
üîÑ Guardando chunk 9...
üîÑ Guardando chunk 10...
üîÑ Guardando chunk 11...
üîÑ Guardando chunk 12...
üîÑ Guardando chunk 13...
üîÑ Guardando chunk 14...
üîÑ Guardando chunk 15...
üîÑ Guardando chunk 16...
üîÑ Guardando chunk 17...
üîÑ Guardando chunk 18...
üîÑ Guardando chunk 19...
üîÑ Guardando chunk 20...
üîÑ Guardando chunk 21...
üîÑ Guardando chunk 22...
üîÑ Guardando chunk 23...
üîÑ Guardando chunk 24...
üîÑ Guardando chunk 25...
üîÑ Guardando chunk 26...
üîÑ Guardando chunk 27...
üîÑ Guardando chunk 28...
üîÑ Guardando chunk 29...
üîÑ Guardando chunk 30...
üîÑ Guardando chunk 31...
üîÑ Guardando chunk 32...
üîÑ Guardando chunk 33...
üîÑ Guardando chunk 34...
üîÑ Guardando chunk 35...
üîÑ Guardando chunk 36...
üîÑ Guardando chunk 37...
üîÑ Guardando chunk 38...
üîÑ Guardando chunk 39...
üîÑ Guardando chunk 40...
üîÑ Guardando chunk 41...
üîÑ Guardando chunk 42...
üîÑ Guardando chunk 43...
üîÑ Guardando chunk 44...
üîÑ Guardando chunk 45...
üîÑ Guardando chunk 46...
üîÑ Guardando chunk 47...
üîÑ Guardando chunk 48...
üîÑ Guardando chunk 49...
üîÑ Guardando chunk 50...
üîÑ Guardando chunk 51...
üîÑ Guardando chunk 52...
üîÑ Guardando chunk 53...
üîÑ Guardando chunk 54...
üîÑ Guardando chunk 55...
üîÑ Guardando chunk 56...
üîÑ Guardando chunk 57...
üîÑ Guardando chunk 58...
üîÑ Guardando chunk 59...
üîÑ Guardando chunk 60...
üîÑ Guardando chunk 61...
üîÑ Guardando chunk 62...
üîÑ Guardando chunk 63...
üîÑ Guardando chunk 64...
üîÑ Guardando chunk 65...
üîÑ Guardando chunk 66...
üîÑ Guardando chunk 67...
üîÑ Guardando chunk 68...
üîÑ Guardando chunk 69...
üîÑ Guardando chunk 70...
üîÑ Guardando chunk 71...
üîÑ Guardando chunk 72...
üîÑ Guardando chunk 73...
üîÑ Guardando chunk 74...
üîÑ Guardando chunk 75...
üîÑ Guardando chunk 76...
üîÑ Guardando chunk 77...
üîÑ Guardando chunk 78...
üîÑ Guardando chunk 79...
üîÑ Guardando chunk 80...
üîÑ Guardando chunk 81...
üîÑ Guardando chunk 82...
üîÑ Guardando chunk 83...
üîÑ Guardando chunk 84...
üîÑ Guardando chunk 85...
üîÑ Guardando chunk 86...
üîÑ Guardando chunk 87...
üîÑ Guardando chunk 88...
üîÑ Guardando chunk 89...
üîÑ Guardando chunk 90...
üîÑ Guardando chunk 91...
üîÑ Guardando chunk 92...
üîÑ Guardando chunk 93...
üîÑ Guardando chunk 94...
üîÑ Guardando chunk 95...
üîÑ Guardando chunk 96...
üîÑ Guardando chunk 97...
üîÑ Guardando chunk 98...
üîÑ Guardando chunk 99...
üîÑ Guardando chunk 100...
üîÑ Guardando chunk 101...
üîÑ Guardando chunk 102...
üîÑ Guardando chunk 103...
üîÑ Guardando chunk 104...
üîÑ Guardando chunk 105...
üîÑ Guardando chunk 106...
üîÑ Guardando chunk 107...
üîÑ Guardando chunk 108...
üîÑ Guardando chunk 109...
üîÑ Guardando chunk 110...
üîÑ Guardando chunk 111...
üîÑ Guardando chunk 112...
üîÑ Guardando chunk 113...
üîÑ Guardando chunk 114...
üîÑ Guardando chunk 115...
üîÑ Guardando chunk 116...
üîÑ Guardando chunk 117...
üîÑ Guardando chunk 118...
üîÑ Guardando chunk 119...
üîÑ Guardando chunk 120...
üîÑ Guardando chunk 121...
üîÑ Guardando chunk 122...
üîÑ Guardando chunk 123...
üîÑ Guardando chunk 124...
üîÑ Guardando chunk 125...
üîÑ Guardando chunk 126...
üîÑ Guardando chunk 127...
üîÑ Guardando chunk 128...
üîÑ Guardando chunk 129...
üîÑ Guardando chunk 130...
üîÑ Guardando chunk 131...
üîÑ Guardando chunk 132...
üîÑ Guardando chunk 133...
üîÑ Guardando chunk 134...
üîÑ Guardando chunk 135...
üîÑ Guardando chunk 136...
üîÑ Guardando chunk 137...
‚úÖ Todos los chunks han sido cargados en la base de datos.

## Revisar y confirmar informaci√≥n en base de datos

In [13]:
import sqlite3
import pandas as pd

# Conectar a la base de datos
con = sqlite3.connect("Proyecto.db")

In [16]:
#  cu√°ntas filas hay
total = pd.read_sql("SELECT COUNT(*) AS total_filas FROM santander;", con)
print(total)

   total_filas
0     13647309

In [15]:
primeros = pd.read_sql("SELECT * FROM santander LIMIT 5;", con)
print(primeros)

   fecha_dato  ncodpers ind_empleado pais_residencia sexo  age  fecha_alta  \
0  2015-01-28   1375586            N              ES    H   35  2015-01-12
1  2015-01-28   1050611            N              ES    V   23  2012-08-10
2  2015-01-28   1050612            N              ES    V   23  2012-08-10
3  2015-01-28   1050613            N              ES    H   22  2012-08-10
4  2015-01-28   1050614            N              ES    V   23  2012-08-10

   ind_nuevo antiguedad  indrel  ... ind_hip_fin_ult1  ind_plan_fin_ult1  \
0        0.0          6     1.0  ...                0                  0
1        0.0         35     1.0  ...                0                  0
2        0.0         35     1.0  ...                0                  0
3        0.0         35     1.0  ...                0                  0
4        0.0         35     1.0  ...                0                  0

  ind_pres_fin_ult1 ind_reca_fin_ult1 ind_tjcr_fin_ult1 ind_valo_fin_ult1  \
0                 0                 0                 0                 0
1                 0                 0                 0                 0
2                 0                 0                 0                 0
3                 0                 0                 0                 0
4                 0                 0                 0                 0

  ind_viv_fin_ult1 ind_nomina_ult1  ind_nom_pens_ult1  ind_recibo_ult1
0                0             0.0                0.0                0
1                0             0.0                0.0                0
2                0             0.0                0.0                0
3                0             0.0                0.0                0
4                0             0.0                0.0                0

[5 rows x 48 columns]

## Creaci√≥n de indices para optimizar selects

In [17]:
import sqlite3

con = sqlite3.connect("Proyecto.db")
cursor = con.cursor()

# Crear √≠ndice por cliente
cursor.execute("CREATE INDEX IF NOT EXISTS idx_cliente ON santander(ncodpers);")

# Crear √≠ndice por fecha
cursor.execute("CREATE INDEX IF NOT EXISTS idx_fecha ON santander(fecha_dato);")

# √çndice compuesto cliente + fecha
cursor.execute("CREATE INDEX IF NOT EXISTS idx_cliente_fecha ON santander(ncodpers, fecha_dato);")

con.commit()
con.close()

print("‚úÖ √çndices creados correctamente.")

‚úÖ √çndices creados correctamente.

In [20]:
import pandas as pd
con = sqlite3.connect("Proyecto.db")

# Buscar todos los registros del cliente 123456 en junio 2015
query = """
SELECT *
FROM santander
WHERE ncodpers = 123456 AND fecha_dato = '2015-06-28'
"""
df = pd.read_sql(query, con)
print(df.head())

   fecha_dato  ncodpers ind_empleado pais_residencia sexo  age  fecha_alta  \
0  2015-06-28    123456            N              ES    V   52  1999-02-27

   ind_nuevo antiguedad  indrel  ... ind_hip_fin_ult1  ind_plan_fin_ult1  \
0        0.0        197     1.0  ...                0                  0

  ind_pres_fin_ult1 ind_reca_fin_ult1 ind_tjcr_fin_ult1 ind_valo_fin_ult1  \
0                 0                 0                 1                 0

  ind_viv_fin_ult1 ind_nomina_ult1  ind_nom_pens_ult1  ind_recibo_ult1
0                0             1.0                1.0                1

[1 rows x 48 columns]

In [ ]:
query_two = """
SELECT distinct 
FROM santander
WHERE ncodpers = 123456 AND fecha_dato = '2015-06-28'
"""
df = pd.read_sql(query, con)
print(df.head())

## Se crea la tabla clientes con informaci√≥n personal y las columnas de productos las que inician nd_(xyz)_ult1 seg√∫n indicaciones... (Esto es opcional)

In [17]:
import sqlite3
import pandas as pd

ruta = '/workspaces/proyecto-final/data/train_ver2.csv'
con = sqlite3.connect("Proyecto.db")

chunksize = 100000
for i, chunk in enumerate(pd.read_csv(ruta, chunksize=chunksize, low_memory=False)):
    print(f"Procesando chunk {i+1}")

    # Solo columnas relevantes para la tabla cliente_mes
    cols = ['ncodpers', 'fecha_dato', 'age', 'renta', 'segmento']
    productos = [col for col in chunk.columns if col.startswith('ind_') and col.endswith('_ult1')]

    subset = chunk[cols + productos].copy()
    subset['productos_activos'] = subset[productos].sum(axis=1)

    # Guardar en nueva tabla
    subset.to_sql("cliente_mes", con, if_exists="append", index=False)

print("‚úÖ Tabla cliente_mes creada.")

Procesando chunk 1
Procesando chunk 2
Procesando chunk 3
Procesando chunk 4
Procesando chunk 5
Procesando chunk 6
Procesando chunk 7
Procesando chunk 8
Procesando chunk 9
Procesando chunk 10
Procesando chunk 11
Procesando chunk 12
Procesando chunk 13
Procesando chunk 14
Procesando chunk 15
Procesando chunk 16
Procesando chunk 17
Procesando chunk 18
Procesando chunk 19
Procesando chunk 20
Procesando chunk 21
Procesando chunk 22
Procesando chunk 23
Procesando chunk 24
Procesando chunk 25
Procesando chunk 26
Procesando chunk 27
Procesando chunk 28
Procesando chunk 29
Procesando chunk 30
Procesando chunk 31
Procesando chunk 32
Procesando chunk 33
Procesando chunk 34
Procesando chunk 35
Procesando chunk 36
Procesando chunk 37
Procesando chunk 38
Procesando chunk 39
Procesando chunk 40
Procesando chunk 41
Procesando chunk 42
Procesando chunk 43
Procesando chunk 44
Procesando chunk 45
Procesando chunk 46
Procesando chunk 47
Procesando chunk 48
Procesando chunk 49
Procesando chunk 50
Procesando chunk 51
Procesando chunk 52
Procesando chunk 53
Procesando chunk 54
Procesando chunk 55
Procesando chunk 56
Procesando chunk 57
Procesando chunk 58
Procesando chunk 59
Procesando chunk 60
Procesando chunk 61
Procesando chunk 62
Procesando chunk 63
Procesando chunk 64
Procesando chunk 65
Procesando chunk 66
Procesando chunk 67
Procesando chunk 68
Procesando chunk 69
Procesando chunk 70
Procesando chunk 71
Procesando chunk 72
Procesando chunk 73
Procesando chunk 74
Procesando chunk 75
Procesando chunk 76
Procesando chunk 77
Procesando chunk 78
Procesando chunk 79
Procesando chunk 80
Procesando chunk 81
Procesando chunk 82
Procesando chunk 83
Procesando chunk 84
Procesando chunk 85
Procesando chunk 86
Procesando chunk 87
Procesando chunk 88
Procesando chunk 89
Procesando chunk 90
Procesando chunk 91
Procesando chunk 92
Procesando chunk 93
Procesando chunk 94
Procesando chunk 95
Procesando chunk 96
Procesando chunk 97
Procesando chunk 98
Procesando chunk 99
Procesando chunk 100
Procesando chunk 101
Procesando chunk 102
Procesando chunk 103
Procesando chunk 104
Procesando chunk 105
Procesando chunk 106
Procesando chunk 107
Procesando chunk 108
Procesando chunk 109
Procesando chunk 110
Procesando chunk 111
Procesando chunk 112
Procesando chunk 113
Procesando chunk 114
Procesando chunk 115
Procesando chunk 116
Procesando chunk 117
Procesando chunk 118
Procesando chunk 119
Procesando chunk 120
Procesando chunk 121
Procesando chunk 122
Procesando chunk 123
Procesando chunk 124
Procesando chunk 125
Procesando chunk 126
Procesando chunk 127
Procesando chunk 128
Procesando chunk 129
Procesando chunk 130
Procesando chunk 131
Procesando chunk 132
Procesando chunk 133
Procesando chunk 134
Procesando chunk 135
Procesando chunk 136
Procesando chunk 137
‚úÖ Tabla cliente_mes creada.

In [22]:
# Mostrar primeros registros
df = pd.read_sql("SELECT * FROM cliente_mes LIMIT 5;", con)
print(df)

# Mostrar columnas
col_info = pd.read_sql("PRAGMA table_info(cliente_mes);", con)
print(col_info[['name', 'type']])

   ncodpers  fecha_dato  age      renta            segmento  \
0   1375586  2015-01-28   35   87218.10   02 - PARTICULARES
1   1050611  2015-01-28   23   35548.74  03 - UNIVERSITARIO
2   1050612  2015-01-28   23  122179.11  03 - UNIVERSITARIO
3   1050613  2015-01-28   22  119775.54  03 - UNIVERSITARIO
4   1050614  2015-01-28   23        NaN  03 - UNIVERSITARIO

   ind_ahor_fin_ult1  ind_aval_fin_ult1  ind_cco_fin_ult1  ind_cder_fin_ult1  \
0                  0                  0                 1                  0
1                  0                  0                 1                  0
2                  0                  0                 1                  0
3                  0                  0                 0                  0
4                  0                  0                 1                  0

   ind_cno_fin_ult1  ...  ind_plan_fin_ult1  ind_pres_fin_ult1  \
0                 0  ...                  0                  0
1                 0  ...                  0                  0
2                 0  ...                  0                  0
3                 0  ...                  0                  0
4                 0  ...                  0                  0

   ind_reca_fin_ult1  ind_tjcr_fin_ult1  ind_valo_fin_ult1  ind_viv_fin_ult1  \
0                  0                  0                  0                 0
1                  0                  0                  0                 0
2                  0                  0                  0                 0
3                  0                  0                  0                 0
4                  0                  0                  0                 0

   ind_nomina_ult1  ind_nom_pens_ult1  ind_recibo_ult1  productos_activos
0              0.0                0.0                0                1.0
1              0.0                0.0                0                1.0
2              0.0                0.0                0                1.0
3              0.0                0.0                0                1.0
4              0.0                0.0                0                1.0

[5 rows x 30 columns]
                 name     type
0            ncodpers  INTEGER
1          fecha_dato     TEXT
2                 age     TEXT
3               renta     REAL
4            segmento     TEXT
5   ind_ahor_fin_ult1  INTEGER
6   ind_aval_fin_ult1  INTEGER
7    ind_cco_fin_ult1  INTEGER
8   ind_cder_fin_ult1  INTEGER
9    ind_cno_fin_ult1  INTEGER
10  ind_ctju_fin_ult1  INTEGER
11  ind_ctma_fin_ult1  INTEGER
12  ind_ctop_fin_ult1  INTEGER
13  ind_ctpp_fin_ult1  INTEGER
14  ind_deco_fin_ult1  INTEGER
15  ind_deme_fin_ult1  INTEGER
16  ind_dela_fin_ult1  INTEGER
17  ind_ecue_fin_ult1  INTEGER
18  ind_fond_fin_ult1  INTEGER
19   ind_hip_fin_ult1  INTEGER
20  ind_plan_fin_ult1  INTEGER
21  ind_pres_fin_ult1  INTEGER
22  ind_reca_fin_ult1  INTEGER
23  ind_tjcr_fin_ult1  INTEGER
24  ind_valo_fin_ult1  INTEGER
25   ind_viv_fin_ult1  INTEGER
26    ind_nomina_ult1     REAL
27  ind_nom_pens_ult1     REAL
28    ind_recibo_ult1  INTEGER
29  productos_activos     REAL

In [19]:
import sqlite3
import pandas as pd

# Conexi√≥n a la base de datos
con = sqlite3.connect("Proyecto.db")

# Consulta SQL dentro de comillas
query = "SELECT * FROM cliente_mes LIMIT 500000;"

# Ejecutar y obtener resultados en un DataFrame
df = pd.read_sql(query, con)

# Mostrar resultados
print(df)

DatabaseError: Execution failed on sql 'SELECT * FROM cliente_mes LIMIT 500000;': no such table: cliente_mes

In [24]:
cliente_id = 1375586  # c√°mbialo si no existe

In [25]:
query = f"""
SELECT *
FROM cliente_mes
WHERE ncodpers = {cliente_id}
ORDER BY fecha_dato;
"""

df_cliente = pd.read_sql(query, con)

In [26]:
df_cliente.head(10)

,ncodpers,fecha_dato,age,renta,segmento,ind_ahor_fin_ult1,ind_aval_fin_ult1,ind_cco_fin_ult1,ind_cder_fin_ult1,ind_cno_fin_ult1,...,ind_plan_fin_ult1,ind_pres_fin_ult1,ind_reca_fin_ult1,ind_tjcr_fin_ult1,ind_valo_fin_ult1,ind_viv_fin_ult1,ind_nomina_ult1,ind_nom_pens_ult1,ind_recibo_ult1,productos_activos
0,1375586,2015-01-28,35,87218.1,02 - PARTICULARES,0,0,1,0,0,...,0,0,0,0,0,0,0.0,0.0,0,1.0
1,1375586,2015-02-28,35,87218.1,02 - PARTICULARES,0,0,1,0,0,...,0,0,0,0,0,0,0.0,0.0,0,1.0
2,1375586,2015-03-28,35,87218.1,02 - PARTICULARES,0,0,1,0,0,...,0,0,0,0,0,0,0.0,0.0,0,1.0
3,1375586,2015-04-28,35,87218.1,02 - PARTICULARES,0,0,1,0,0,...,0,0,0,0,0,0,0.0,0.0,0,1.0
4,1375586,2015-05-28,35,87218.1,02 - PARTICULARES,0,0,1,0,0,...,0,0,0,0,0,0,0.0,0.0,1,2.0
5,1375586,2015-06-28,35,87218.1,02 - PARTICULARES,0,0,1,0,0,...,0,0,0,0,0,0,0.0,0.0,1,2.0
6,1375586,2015-07-28,35,87218.1,02 - PARTICULARES,0,0,1,0,0,...,0,0,0,0,0,0,0.0,0.0,1,2.0
7,1375586,2015-08-28,36,87218.1,02 - PARTICULARES,0,0,1,0,0,...,0,0,0,0,0,0,0.0,0.0,0,1.0
8,1375586,2015-09-28,36,87218.1,02 - PARTICULARES,0,0,1,0,0,...,0,0,0,0,0,0,0.0,0.0,0,1.0
9,1375586,2015-10-28,36,87218.1,02 - PARTICULARES,0,0,1,0,0,...,0,0,0,0,0,0,0.0,0.0,0,1.0